@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.app_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    background-color: #f0f0f0;
}

.logo {
    padding-left: 10px;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 900;
    color: #3a6cf4;
}

.logo:hover{
    color: #601cfc;
}

.log_out {
    padding-right: 10px;
    text-decoration: none;
    font-size: 1em;
    color: #3a6cf4;
    margin: auto 0;
}

.log_out:hover {
    color: #601cfc;
}

main {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}

.title {
    color: rgba(28, 0, 128, 0.752);
    margin:  5px 0px 5px 5px;
}

.content {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.09);
    width: 250px;
    height: 330px;
}

.quiz_name {
    width: 200px;
    margin: 0px auto 10px auto;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.09);
    background-color:#ffffff;
    color: #0d49e2;
    border-radius: 10px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}

a {
    text-decoration: none;
}