@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.app_bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    background-color: #f0f0f0;
}

.logo {
    padding-left: 10px;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 900;
    color: #3a6cf4;
}

.logo:hover{
    color: #601cfc;
}

.log_out {
    padding-right: 10px;
    text-decoration: none;
    font-size: 1em;
    color: #3a6cf4;
    margin: auto 0;
}

.log_out:hover {
    color: #601cfc;
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.box {
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 290px;
    height: auto; /*360*/
    box-shadow:  0 0 15px 4px rgba(0,0,0,0.1);;
}

h3 {
    color: #601cfc
}


.question {
    /* #3a6cf4 */
    color: #3a6cf4;  
    margin: 5px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
}

.answer {
    width: 200px;
    height: 30px;
    margin: 0px auto 10px auto;
    padding: 0px 5px 0px 5px;
    vertical-align: middle;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.09);
    color: #000000;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}


button {
    width: 50px;
    height: 40px;
    font-size: 16px;
    margin: 4px 2px 0px 220px;
    border: none;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 40px;
    height: 40px;
}

.email {
    width: 270px;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    resize: none;
    border-color: rgb(126, 126, 126);
    outline: none;
        
}


.email:is(:focus,:valid){
    border-color: #3a6cf4;
}


@media (max-height: 540px) {
    .app_bar {
        display: none;
    }
}

